*{
    margin: 0;
    padding: 0;
}
footer{
    padding: 24px;
    width: calc(100% - 48px);
    height: 128px;
    background-color: #242424;
    color: #eee;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
iframe, .FooterMenu{
    width: 176px;
}
iframe{
    filter: grayscale(100%);
}
.ContactContainer{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ContactContainer>div{
    width: 100%;
    height: 176px;
    display: flex;
    justify-content: space-around;
}
h4{
    margin-bottom: 25px;
    font-size: larger;
}
/* svg{
    margin: 1px;
} */
@media screen and (max-width:600px) {
    footer{
        height: 400px;
        flex-direction: column;
        align-items: center;
    }
    .ContactContainer>div{
        height: 33px;
    }
}
.ContactContainer a{
    text-decoration: none;
    color: #eee !important;
}