.activityImage{
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.activityCardContainer{
    width: 100%;
    display: flex;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}
.activityTitleDescriptionContainer{
    margin-left: 1rem;
}
.activityTitleDescriptionContainer>h4{
    margin-bottom: 1rem;
}
