header {
    background-color: #242424 !important;
    /* color: red !important;
    background: red !important; */
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #d3552f;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    padding: 0;
    margin: 0;
  }
  
  .container:hover .overlay {
    width: 400px;
    padding: 0;
    margin: 0;
  }

  .container{
    padding: 0;
    margin: 0;
  }

  .text {
    white-space: nowrap; 
    color: white !important;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .userLoggedIn{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid orange;
    /* box-shadow: 2px 2px 5px snow; */
  }
  .buttonUserContainer{
    margin: 0 !important;
    padding: 0 !important;
  }
  .userMenuAnchor *{
    color: black !important;
  }
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    color: black !important;
  }
  a:-webkit-any-link {
        text-decoration: none !important;
  }
  .dflex-column{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: flex-start !important;
  }
  .dflex-column>a{
    width: 80px;
    margin: 10px 10px 0px 10px !important;
  }