.cityContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;

}
.backCities{
    color: #424242;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.backCities>p{
    /* color: #242424; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.cityDetails{
    width: 690px;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.cityImage{
    margin-top: 1rem;
    height: 300px;
    width: 690px;
    object-fit: cover;
    margin-right: 10px;
    box-shadow: 2px 2px 10px #242424;
}
/* .cityDetails>img{
    width: 345px;
    box-shadow: 2px 2px 10px #242424;
} */
.containerItineraries{
    width: 690px;
}
.cityDetails>h2, .cityDetails>h3{
    align-self: flex-start;
}
.allcityContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* min-height: calc(100vh - 64px - 24px); */
}
.h1Itineraries{
    margin-top: 1rem;
    text-align: left;
}
.containerItineraryInfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.containerItineraryDurationPriceLikes{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.containerOneCityDetailsSite{
    min-height: calc(100vh - 64px);
}
.locationTitle{
    text-align: center;
}
.divAccordion{
    margin-top: 1rem;
}
.authorContainer{
    height: 100px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}
.imgAuthor{
    height: 100px;
    width: 100px;
    object-fit: cover;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    background-color: #777777 !important;
}
.containerItineraryInfo>p{
    vertical-align: baseline;
}
@media screen and (max-width:800px) {
    .cityContainer{
        flex-direction: column;
    }
    .cityImage{
        width: 345px;
        margin-right: 0;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .cityDetails{
        margin-left: 0;
        margin-bottom: 20px;
        width: 345px;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
    .containerItineraries{
        width: 345px;
    }
    .containerItineraryDurationPriceLikes{
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
}
.likeBtn{
    background-color: transparent;
    border: 0;
    height: 30px;
    width: 30px;
    font-size: larger;
}
.itinerariPriceP{
    margin-left: 1rem;
}