.cityContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}
.backCities{
    color: #424242;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.backCities>p{
    /* color: #242424; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.cityDetails{
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    margin-left: 10px;
}
.cityImage{
    height: 300px;
    width: 690px;
    object-fit: cover;
    margin-right: 10px;
    box-shadow: 2px 2px 10px #242424;
}
.cityDetails>img{
    width: 345px;
    box-shadow: 2px 2px 10px #242424;
}
.containerItineraries{
    width: 690px;
}
.allcityContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: calc(100vh - 64px - 201px - 24px); resto al vieport el alto del header y del footer */
}
.h1Itineraries{
    text-align: left;
}
.containerItineraryInfo{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start !important; */
    /* align-content: flex-start; */
}
.containerItineraryInfo>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.locationTitle{
    text-align: center;
}
.authorContainer{
    height: 100px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}
.imgAuthor{
    height: 100px;
    width: 100px;
    object-fit: contain;
}
@media screen and (max-width:800px) {
    .cityContainer{
        flex-direction: column;
    }
    .cityImage{
        width: 345px;
        margin-right: 0;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .cityDetails{
        margin-left: 0;
        margin-bottom: 20px;
    }
}