.userProfileContainer{
    min-height: calc(100vh - 176px - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.underconstructionImageMyProfile{
    box-shadow: 2px 2px 10px #242424;
}